:root {
  --h-header: 60px;
  --h-menu: 60px;
  --z-menu: 1000;
  --s-product: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

img {
  width: 100%;
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  padding: 1rem;
  max-width: 1024px;
  margin: 0 auto;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--h-header);
  z-index: 1000;
}

nav {
  background-color: green;
  height: 100%;
  display: flex;
  justify-content: space-between;

  padding: 0 1rem;
}

nav i {
  font-size: 1.5rem;
  cursor: pointer;
  position: relative;
}

.amountProducts {
  width: 20px;
  height: 20px;
  font-size: 0.8rem;
  background-color: #000;
  color: #fff;
  display: inline-block;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  right: -5px;
  top: 15px;
}

.products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
  padding-top: var(--h-header);
}

.product {
  background-color: #fff;
  box-shadow: var(--s-product);
  border-radius: 1rem;
  overflow: hidden;
}

.product_img {
  background-color: #ccc;
  padding: 1rem;
}

.product_body {
  padding: 1rem;
  position: relative;

  display: flex;
  flex-direction: column;
  /* gap: 1rem; */
}

.product_body p {
  font-size: 1.1rem;
}

.product_body h3 {
  font-size: 0.9rem;
  font-weight: 600;
  color: #262626;
}

.product_body span {
  font-weight: bold;
  font-size: 0.8rem;
  color: grey;
  padding-left: 1rem;
  user-select: none;
}

.product_body .soldout {
  display: inline-block;
  color: #fff;
  background-color: lightcoral;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}

.product_body .bx-plus {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #fff;
  color: #000;
  box-shadow: var(--s-product);

  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: absolute;
  top: -1rem;
  right: 1rem;
}

.cart {
  width: 400px;
  height: calc(100vh - var(--h-header));
  background-color: #fff;
  padding: 1rem;
  position: fixed;
  top: var(--h-header);
  right: -100%;
  transition: right 0.5s;
}

.cart_show {
  right: 0;
}

.cart_products {
  height: 85%;
  overflow-y: scroll;

  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.itemProduct {
  box-shadow: var(--s-product);
  padding: 0.5rem;

  display: flex;
  align-items: center;
  border-radius: 1rem;
}

.itemProduct_img {
  width: 40%;
  background-color: #ccc;
  border-radius: 1rem;
  border: solid 0.5px red;
}

.itemProduct h3 {
  font-size: 1rem;
  font-weight: 600;
  color: #262626;
}

.itemProduct_body {
  width: 60%;
  padding: 1rem;

  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.itemProduct_body p {
  color: red;
}

.itemProduct_body h4 {
  color: red;
}

.itemProduct_body span {
  color: grey;
}

.itemProduct_op {
  user-select: none;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.itemProduct_op i {
  cursor: pointer;
}

.itemProduct_op .bx-trash-alt {
  color: red;
}

.cart_total {
  height: 15%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  gap: 0.8rem;
}

.cart_total-info {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.btn_buy {
  padding: 0.8rem;
  width: 100%;
  background-color: #000;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}

ul {
  list-style: none;
}

@media (max-width: 500px) {
  .cart {
    width: 100%;
  }
}

/* -------------------- NAVBAR ----------------- */

/* .navbar {
  background-color: #ffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--h-menu);
  padding: 0 1rem;
  position: fixed;
  z-index: var(--z-menu);
  width: 100%;
}

.navbar_logo {
  display: flex;
  align-items: center;
  gap: 0.1rem;
}

.navbar_logo img {
  width: 50px;
}

.navbar_logo span {
  font-weight: 500;
} */

/* .menu {
  position: fixed;
  background-color: #ffff;
  top: var(--h-menu);
  left: 100%;
  width: 100%;
  height: calc(100%-var(--h-menu));
  z-index: var(--z-menu);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  transition: left 0.5s;
}

.menu_show {
  left: 0;
}

.navbar .bxs-dashboard {
  font-size: 1.3rem;
  cursor: pointer;
}  */
